<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rmarket.recipemarket">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_recipemarket"
        android:label="레시피마켓"
        android:roundIcon="@mipmap/ic_launcher_recipemarket_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.rmarket.recipemarket.SplashActivity"
            android:noHistory="true"
            >
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" /> <!-- 4 -->
        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name="com.rmarket.recipemarket.RecipeActivity_detail"/>
        <activity android:name="com.rmarket.recipemarket.SearchRayout"/>
        <activity android:name="com.rmarket.recipemarket.Search_Detail_Layout"/>
        <activity android:name=".ShoppingDetail"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".ActivityBasket"/>
        <activity android:name=".ActivityAcoount"/>
        <activity android:name=".shopping_detail2"/>
        <activity android:name=".ActivityComment"/>
        <activity android:name=".ActivityNotice"/>
        <activity android:name=".ActivityUserImport"/>
        <activity android:name=".FundingActivity"/>

    </application>

</manifest>